<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Dashboard</title>
</head>
<body>
    <form>
        <table align="center">
           <center> <h1>Welcome Administrator!</h1></center>
            <tr>
                <td>
                    <a href="../views/adminProfile.php">View Profile</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../controller/userApprovals.php">User Approvals</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../controller/postApprovals.php">User Post Request Approvals</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../views/userlist.php">User List</a>
                </td>
            </tr>
            
            <tr>
                <td>
                    <a href="../views/adminProfile.php">Manage Own Profile</a>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="../controller/logout.php">Logout</a>
                </td>
            </tr>
        </table>
    </form>
    <footer>
        <h3 align="center">@All Permission Reserved to the Administrator@</h3>
    </footer>
</body>
</html>